# Standard VS.NET and ReSharper Foo

obj
[Bb]in
[Rr]elease
[Dd]ebug
[Oo]utput
[Bb]ackup
[Pp]ublish
_[Rr]eSharper*
*.user
*.suo
*.cache
* Thumbs.db
*.vs10x
*.zip
# *.xap
ClientBin
*.docstates

*.build.csdef

[Pp]ackages